@font-face {
  font-family: Playfair;
  src: url('/webfonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('/webfonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'News Cycle';
  src: url('/webfonts/NewsCycle-Bold.woff2') format('woff2'),
    url('/webfonts/NewsCycle-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'News Cycle';
  src: url('/webfonts/NewsCycle.woff2') format('woff2'),
    url('/webfonts/NewsCycle.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Playfair;
  src: url('/webfonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('/webfonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
