@import './fonts';

@import './components/links';

* {
  line-height: 1.25 !important;
}

body {
  font-family: 'News Cycle', sans-serif;
  line-height: 1.25 !important;
  color: #393939;
  h1 {
    line-height: 1.05 !important;
  }
  h2,
  h3 {
    line-height: 1.1 !important;
  }
}
p {
  padding-bottom: 0.7rem;
}
h2 > div > p {
  padding-bottom: 1.3rem;
}

.site-content {
  h2 {
    @apply text-xl lg:text-3xl font-playFair;
    @apply mt-10;
  }

  h2:first-of-type {
    @apply mt-0;
  }

  p {
    @apply text-xl mt-4;
  }

  &.ge {
    blockquote {
      @apply text-ge;
    }
  }
  &.vs {
    blockquote {
      @apply text-vs;
    }
  }
  &.vd {
    blockquote {
      @apply text-vd;
    }
  }
}

#sidebar,
#navbar,
#footer {
  a:hover {
    font-weight: bold;
  }
}

#content {
  ul > li::before {
    content: '—' !important;
    position: absolute !important;
    width: 0.35em !important;
    height: 0.35em !important;
    top: 0 !important;
    left: 0.25em !important;
    background-color: transparent !important;
  }
  .splide ul > li::before {
    content: '' !important;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  #donation-circle a {
    text-decoration: none;
  }
}
.vs #comite .prose a {
  color: #db303d !important;
}
.vd #comite .prose a {
  color: #4d9a70 !important;
}
.ge .prose a {
  color: #ee6f22 !important;
}
// .prose ul > li::before {
//     content: '—';
//     top: 0px;
//     background-color: white;
// }
