@import './components/links';

* {
  line-height: 1.25 !important;
}

body {
  font-family: 'News Cycle', sans-serif;
  line-height: 1.25 !important;
  color: #393939;
  h1 {
    line-height: 1.05 !important;
  }
  h2,
  h3 {
    line-height: 1.1 !important;
  }
}
p {
  padding-bottom: 0.7rem;
}
h2 > div > p {
  padding-bottom: 1.3rem;
}

.site-wrapper {
  padding: 0 50px;
  display: grid;
  grid-template-areas:
    'topbar'
    'sidebar'
    'content';
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 50px 100px;

  @screen md {
    grid-template-areas:
      'topbar topbar'
      'sidebar content';
    grid-template-rows: auto auto;
    grid-template-columns: 200px auto;
  }
}

.lang-switcher {
  padding: 6px 20px;
  white-space: nowrap;
}

.site-topbar {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  grid-area: topbar;
  border-bottom: 1px solid #828282;
  background: white;
  z-index: 20;
  padding: 10px 0;
}

.site-sidebar {
  grid-area: sidebar;
}

.site-content {
  grid-area: content;
  h2 {
    @apply text-xl lg:text-3xl font-playFair;
    @apply mt-10;
  }

  h2:first-of-type {
    @apply mt-0;
  }

  p {
    @apply text-xl mt-4;
  }

  &.ge {
    blockquote {
      @apply text-ge;
    }
  }
  &.vs {
    blockquote {
      @apply text-vs;
    }
  }
  &.vd {
    blockquote {
      @apply text-vd;
    }
  }
}

#sidebar,
#navbar,
#footer {
  a:hover {
    font-weight: bold;
  }
}

#content {
  .splide ul > li::before {
    content: '' !important;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  #donation-circle a {
    text-decoration: none;
  }
}
.vs #comite .prose a {
  color: #db303d !important;
}
.vd #comite .prose a {
  color: #4d9a70 !important;
}
.ge .prose a {
  color: #ee6f22 !important;
}
// .prose ul > li::before {
//     content: '—';
//     top: 0px;
//     background-color: white;
// }
